Value Filldown PRODUCTNAME (\S+)
Value Filldown IPADDRESS (\d+\.\d+\.\d+\.\d+)
Value List COMPONENTNAME (\S+)
Value List SLOT (\S+)
Value List DESCRIPTION (.*)
Value List BOARDSERIALNUMBER (\S+)
Value List BOARDBOMCODE (\S+)
Value List MANUFACTURE (.*)

Start
  ^\s+"ProductName": "${PRODUCTNAME}",.*\"IPAddress": "${IPADDRESS}",.*"ComponentName": "${COMPONENTNAME}" -> Record