Value Filldown LOCAL_HOST (\S+)
Value SLOT (\S+)
Value Required BOARD_TYPE (\S+)
Value BAR_CODE (\S+)
Value ITEM (\S+)
Value DESCRIPTION (.*)
Value MANUFACTURED (\S+)
Value VENDOR_NAME (.*)

Start
  ^[<]${LOCAL_HOST}[>].
  ^\[${SLOT}\]
  ^BoardType=${BOARD_TYPE}
  ^BarCode=${BAR_CODE}
  ^Item=${ITEM}
  ^Description=${DESCRIPTION}
  ^Manufactured=${MANUFACTURED}
  ^VendorName=${VENDOR_NAME} -> Record