Value VERSION (V\d+R\d+C.*)
Value Required HARDWARE (\S+)
Value BAR_CODE (\S+)
Value ITEM (\S+)
Value DESCRIPTION (.*)
Value MANUFACTURED (\S+)
Value VENDOR_NAME (.*)

Start
  ^VRP.*${VERSION}
  ^BoardType=${BOARD_TYPE}
  ^BarCode=${BAR_CODE}
  ^Item=${ITEM}
  ^Description=${DESCRIPTION}
  ^Manufactured=${MANUFACTURED}
  ^VendorName=${VENDOR_NAME} -> Record